<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	IgnorableNamespaces="uap rescap">

	<Identity Name="08e8d82e-98c7-4980-a875-2ef1d8abac22" Publisher="CN=Sunnie" Version="0.12.0.0" />

	<Properties>
		<DisplayName>Sudoku Studio</DisplayName>
		<PublisherDisplayName>Sunnie</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:Resources/ProgramName"
				Description="ms-resource:Resources/ProgramDescription"
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile
					Wide310x150Logo="Assets\Wide310x150Logo.png"
					Square71x71Logo="Assets\SmallTile.png"
					Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="sdk">
						<uap:SupportedFileTypes>
							<uap:FileType>.sdk</uap:FileType>
						</uap:SupportedFileTypes>
						<uap:DisplayName>ms-resource:Resources/FileType_SudokuGrid</uap:DisplayName>
						<uap:Logo>Assets/images/icon-grid-file.png</uap:Logo>
						<uap:InfoTip>ms-resource:Resources/FileInfoTip_SudokuGrid</uap:InfoTip>
						<uap:EditFlags OpenIsSafe="true"/>
					</uap:FileTypeAssociation>
				</uap:Extension>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="sdc">
						<uap:SupportedFileTypes>
							<uap:FileType>.sdc</uap:FileType>
						</uap:SupportedFileTypes>
						<uap:DisplayName>ms-resource:Resources/FileType_ConfigBackup</uap:DisplayName>
						<uap:Logo>Assets/images/icon-config-backup-file.png</uap:Logo>
						<uap:InfoTip>ms-resource:Resources/FileInfoTip_ConfigBackup</uap:InfoTip>
						<uap:EditFlags OpenIsSafe="true"/>
					</uap:FileTypeAssociation>
				</uap:Extension>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="sdd">
						<uap:SupportedFileTypes>
							<uap:FileType>.sdd</uap:FileType>
						</uap:SupportedFileTypes>
						<uap:DisplayName>ms-resource:Resources/FileType_DrawingItem</uap:DisplayName>
						<uap:Logo>Assets/images/icon-drawing-file.png</uap:Logo>
						<uap:InfoTip>ms-resource:Resources/FileInfoTip_DrawingItem</uap:InfoTip>
						<uap:EditFlags OpenIsSafe="true"/>
					</uap:FileTypeAssociation>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
