<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
			<Title>ai</Title>
			<Shortcut>ai</Shortcut>
		</Header>
		<Snippet>
			<Code Language="csharp" Delimiter="$">
				<![CDATA[[MethodImpl(MethodImplOptions.AggressiveInlining)]]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>